%%-*- mode: erlang -*-

{lib_dirs,            ["deps"]}.
{sub_dirs,            ["rel", "apps/skerleton"]}.
{erl_opts,            [debug_info, warnings_as_errors, nowarn_shadow_vars]}.
{xref_checks,         [undefined_function_calls]}.
{deps,                []}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
